In [107]:
import json
import pandas as pd

In [156]:
data = open('1977-1986.json').read()
data = json.loads(data)
len(data)

2880

In [157]:
p1 = pd.read_csv('palette1977-1986.csv', encoding = 'utf-8',index_col=0)
len(p1)

2880

In [158]:
data_rank = open('1977-1986rank.json').read()
data_rank = json.loads(data_rank)
len(data_rank)
data_rank = pd.DataFrame(data_rank)

In [159]:
data_rank.shape

(2880, 2)

In [160]:
data = pd.DataFrame(data)

In [161]:
data.head()

,data_id,genre,imdb_id,title,year
0,45768,"[horror, comedy]",tt0089907,The Return of the Living Dead,1985
1,51279,[drama],tt0088939,The Color Purple,1985
2,45001,"[thriller, comedy, horror]",tt0089175,Fright Night,1985
3,47751,"[science fiction, horror]",tt0088993,Day of the Dead,1985
4,51945,"[comedy, adventure, science fiction, family]",tt0088763,Back to the Future,1985

In [162]:
data_rank.head()

  data_id  rank
0    2706     1
1   51423     2
2   51184     3
3   51312     4
4   44900     5

In [163]:
data1 = pd.merge(data_rank, data, on='data_id')

In [164]:
data1.shape

(2880, 6)

In [165]:
data1['data_id'] = data1['data_id'].apply(int)
p1['data_id'] = p1['data_id'].apply(int)

In [166]:
missing = []
for p in range(len(p1)):
    if not int(p1.ix[p]['data_id']) in data1['data_id'].values:
        missing.append(p)

missing2 = []
for d in range(len(data1)):
    if not int(data1.ix[d]['data_id']) in p1['data_id'].values:
        missing2.append(d)

In [167]:
missing

[2445]

In [168]:
missing2

[2735]

In [169]:
temp = data1['data_id'].ix[data1['rank'] < 251]

In [170]:
import numpy as np
np.unique(data1['data_id']).shape

(2880,)

In [171]:
np.unique(p1['data_id']).shape

(2880,)

In [172]:
np.intersect1d(np.unique(p1['data_id']), temp).shape

(2500,)

In [173]:
data1.shape

(2880, 6)

In [174]:
print(missing)
print(missing2)

[2445]
[2735]

In [175]:
data1 = pd.merge(data1, p1, on='data_id')

In [178]:
data1.shape

(2500, 10)

In [177]:
data1 = data1.ix[data1['rank'] < 251]

In [179]:
data1.to_csv('movie_data1977-1986.csv', encoding='utf-8')